{% extends 'base.html' %}

{% block content %}
{% load markdownify %}
  <main class="tag-detail">
    <div>
      <a href="{% url 'meal_plan_edit' meal_plan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' meal_plan.id %}">Delete</a>
    </div>
    <h2>Recipes for {{ meal_plan.name }}</h2>
    {% for recipe in meal_plan.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
      </p>
    {% endfor %}
    <div>
        <p>
            Would you like to
            <a href="{% url 'meal_plan_new' %}">create a meal plan</a>
            ?
          </p>
    </div>
  </main>
{% endblock content %}
